In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
## Create a simple dataframe 
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [4]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [5]:
##create an instance of Onehotencoder
encoder=OneHotEncoder()

In [7]:
## perform fit and transform
encoded=encoder.fit_transform(df[['color']]).toarray()

In [8]:
import pandas as pd
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [9]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [10]:
## for new data
encoder.transform([['blue']]).toarray()

c:\Users\rachi\OneDrive\Desktop\Python Learning\myenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [16]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [12]:
import seaborn as sns
df1 = sns.load_dataset('tips')

In [13]:
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [51]:
df1.dtypes ##category

sex_OHE = OneHotEncoder(sparse_output=False)
sex_OHE.fit_transform(df1[['sex']]),sex_OHE.get_feature_names_out()

smoker_OHE = OneHotEncoder(sparse_output=False)
smoker_OHE.fit_transform(df1[['smoker']]),smoker_OHE.get_feature_names_out()

day_OHE = OneHotEncoder(sparse_output=False)
day_OHE.fit_transform(df1[['day']]),day_OHE.get_feature_names_out()

time_OHE = OneHotEncoder(sparse_output=False)
time_OHE.fit_transform(df1[['time']]),time_OHE.get_feature_names_out()

lst_nm =  ['total_bill','tip','size' ]
lst_nm.extend(sex_OHE.get_feature_names_out().tolist())
lst_nm.extend(smoker_OHE.get_feature_names_out().tolist())
lst_nm.extend(day_OHE.get_feature_names_out().tolist())
lst_nm.extend(time_OHE.get_feature_names_out().tolist())

# lst_nm
# sex_OHE.fit_transform(df1[['sex']])
# # sex_OHE.get_feature_names_out().tolist()
df_encode = pd.concat(
    [df1[['total_bill','tip','size']], pd.DataFrame(sex_OHE.fit_transform(df1[['sex']]), columns=sex_OHE.get_feature_names_out().tolist()),
     pd.DataFrame(smoker_OHE.fit_transform(df1[['smoker']]), columns=smoker_OHE.get_feature_names_out().tolist()),
               pd.DataFrame(day_OHE.fit_transform(df1[['day']]), columns=day_OHE.get_feature_names_out().tolist()), 
           pd.DataFrame(time_OHE.fit_transform(df1[['time']]), columns=time_OHE.get_feature_names_out().tolist()) 
            
    ], axis=1
) 


df_encode.head()
# pd.DataFrame(sex_OHE.fit_transform(df1[['sex']]), columns=sex_OHE.get_feature_names_out().tolist())

,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,16.99,1.01,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,10.34,1.66,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,21.01,3.50,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,23.68,3.31,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,24.59,3.61,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

## Label & Ordinal Encoding

In [56]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [55]:
df1['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [63]:
LE = LabelEncoder()
LE.fit_transform(df1['sex']), df1['sex'].value_counts() ,len(LE.fit_transform(df1['sex'])[LE.fit_transform(df1['sex']) == 1])

(array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
        0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
        1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
        1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
        0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
        1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
        1, 0]),
 sex
 Male      157
 Female     87
 Name: count, dtype: int64,
 157)

In [71]:
!pip install collection

Collecting collection
  Downloading collection-0.1.6.tar.gz (5.0 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: collection
  Building wheel for collection (pyproject.toml): started
  Building wheel for collection (pyproject.toml): finished with status 'done'
  Created wheel for collection: filename=collection-0.1.6-py3-none-any.whl size=5154 sha256=741e7bb71b8da30e98ad165ded8dc0e271a62e667a527dedae353a4589f663b2
  Stored in directory: c:\users\rachi\appdata\local\pip\cache\wheels\44\4e\bc\c84bc8b82a0f294305b47c7ff1ffcda2e15cc9ca2b175ba674
Successfully built collection
Installing collected packages: collection
Successfully installed collection-0.1.6

In [72]:
from collections import Counter

In [82]:
df1.day.value_counts()
OE = OrdinalEncoder(categories= [['Thur','Fri','Sat','Sun']])
OE.fit_transform(df1[['day']])
df1.shape
Counter(OE.fit_transform(df1[['day']]).reshape(1,244).ravel().tolist()), df1['day'].value_counts()
# Counter(OE.fit_transform(df1[['day']]).tolist())

(Counter({2.0: 87, 3.0: 76, 0.0: 62, 1.0: 19}),
 day
 Sat     87
 Sun     76
 Thur    62
 Fri     19
 Name: count, dtype: int64)

## Target Guided Ordinal Encoding

In [108]:
df1.groupby(['day']).agg({'total_bill':['mean', 'median']})

dct = df1.groupby(['day'])['total_bill'].median().to_dict()
# .agg(='median').to_dict().values()
dct
df1['day_code_target'] = df1.apply( lambda x: dct[x.day],axis=1 )
df1.head()
df1.tail(), dct

C:\Users\rachi\AppData\Local\Temp\ipykernel_88716\1979558338.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df1.groupby(['day']).agg({'total_bill':['mean', 'median']})
C:\Users\rachi\AppData\Local\Temp\ipykernel_88716\1979558338.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dct = df1.groupby(['day'])['total_bill'].median().to_dict()

(     total_bill   tip     sex smoker   day    time  size  day_code_target
 239       29.03  5.92    Male     No   Sat  Dinner     3            18.24
 240       27.18  2.00  Female    Yes   Sat  Dinner     2            18.24
 241       22.67  2.00    Male    Yes   Sat  Dinner     2            18.24
 242       17.82  1.75    Male     No   Sat  Dinner     2            18.24
 243       18.78  3.00  Female     No  Thur  Dinner     2            16.20,
 {'Thur': 16.2, 'Fri': 15.38, 'Sat': 18.24, 'Sun': 19.63})