# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [2]:
dct1 ={i: i**2 for i in range(11)}
dct1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [3]:
print(dct1[5])
print(dct1.keys())

25
dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [4]:
dct1[11] = 121
print(dct1)
del dct1[1]
print(dct1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{0: 0, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [5]:
for i,j in dct1.items():
    print(f"key: {i} and value: {j}")

key: 0 and value: 0
key: 2 and value: 4
key: 3 and value: 9
key: 4 and value: 16
key: 5 and value: 25
key: 6 and value: 36
key: 7 and value: 49
key: 8 and value: 64
key: 9 and value: 81
key: 10 and value: 100
key: 11 and value: 121

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [6]:
dct2 ={i: i**3 for i in range(11)}
dct2

{0: 0,
 1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000}

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [9]:
{**{i: i**2 for i in range(1,6)}, **{i: i**2 for i in range(6,11)}}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}


### Assignment 7: Nested Dictionaries
Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [10]:
student = {'name':'Ram', "age": 12, 'grades': {'math':30, 'science':45, 'english': '89'}}
print(student)

{'name': 'Ram', 'age': 12, 'grades': {'math': 30, 'science': 45, 'english': '89'}}

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [19]:
{i:list(map(lambda x: x*i, list(range(1,6))))  for i in range(1,6)}

{1: [1, 2, 3, 4, 5],
 2: [2, 4, 6, 8, 10],
 3: [3, 6, 9, 12, 15],
 4: [4, 8, 12, 16, 20],
 5: [5, 10, 15, 20, 25]}

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square.

In [20]:
{i:(i,i**2) for i in range(1,6)}

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [23]:
[(i,j) for i,j in {i: i**2 for i in range(1,6)}.items()]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [25]:
dct3 = {i: i**2 for i in range(1,11)}

{i for i,j in dct3.items() if i%2 == 0}

{2, 4, 6, 8, 10}

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [27]:
dct4 = {i: i**2 for i in range(1,5)}
print(dct4)
{j:i for i,j in dct4.items() }

{1: 1, 2: 4, 3: 9, 4: 16}

{1: 1, 4: 2, 9: 3, 16: 4}

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [40]:
from collections import defaultdict

d = defaultdict(lambda: [], {})
print(d)

defaultdict(<function <lambda> at 0x000001ED27185F80>, {})

In [41]:
print(d)
d['2'] = 4

print(d)

defaultdict(<function <lambda> at 0x000001ED27185F80>, {})
defaultdict(<function <lambda> at 0x000001ED27185F80>, {'2': 4})

In [42]:
d['7']

[]

In [43]:
print(d)

defaultdict(<function <lambda> at 0x000001ED27185F80>, {'2': 4, '7': []})

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [54]:
'hhs '.lower()
'hsbh skks'.replace(' ','')

'hsbhskks'

In [56]:
def funct_str_cnt(string1):
    return {i:list(string1.lower().replace(' ','')).count(i) for i in set(list(string1.lower().replace(' ','')))}


funct_str_cnt('Rachita Harjai')

{'i': 2, 'a': 4, 'j': 1, 'r': 2, 't': 1, 'h': 2, 'c': 1}










### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [57]:
import json

book = {
    'title': 'To Kill a Mockingbird',
    'author': 'Harper Lee',
    'year': 1960,
    'genre': 'Fiction'
}
book_json = json.dumps(book)
print(book_json)

{"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}

In [58]:
10/3

3.3333333333333335

In [59]:
7/4

1.75

In [ ]:
def is_subset(lst1, lst2):
    return all([True if i in lst2 else False for i in lst1 ])

In [68]:
def is_subset(lst1, lst2):
    return all([True if i in lst2 else False for i in lst1  ])

In [69]:
is_subset([2,3,4,9], [6,7,2,3,4])

False

if i in lst2

In [70]:
lt = []
lt.extend([2,4,5,6])
lt

[2, 4, 5, 6]

In [73]:
lt = [2,6,7, 9,0]
# lt.reverse()

In [75]:
lt[:-4:-1]

[0, 9, 7]

In [83]:
lt[:-7:-2]

[0, 7, 2]

In [77]:
lt[::]

[2, 6, 7, 9, 0]

In [79]:
len(lt)

5

In [92]:
def rotate_list(lst, k):
    # Your code goes here
    lst_hlf = []
    lst_hlf = lst[:-k-1:-1]
    lst_hlf.reverse()
    
    seco_hlf = lst[0:len(lst) -k]
    # seco_hlf.reverse()
    
    lst_hlf.extend(seco_hlf)
    return lst_hlf

In [93]:
rotate_list([1, 2, 3, 4, 5, 1, 2, 3],2)

[2, 3, 1, 2, 3, 4, 5, 1]

In [87]:
[1,2,3,5,10][1:len([1,2,3,5,10]) -2]

[2, 3]

In [95]:
20000*10

200000

In [97]:
rotate_list([1, 2, 3, 4, 5, 1, 2, 3],2)
rotate_list([4, 5, 1, 2, 3],3)

''.split(' ')

['']

In [98]:
len('')

0

In [109]:
def merge_dicts_with_overlapping_keys(dicts):
    # Your code goes here
    dct = dicts[0]
    for i in dicts[1:]:
        for j in i :
            dct[j] = dct.get(j,0)+ i[j]

    return dct

In [110]:
merge_dicts_with_overlapping_keys([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}, {'c': 5, 'd': 6}])

{'a': 1, 'b': 5, 'c': 9, 'd': 6}

In [112]:
from package.math import addition

In [113]:
addition()

1

In [114]:
addition(8,9)

17