# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [2]:
st1 = set(list(range(1,11)))
st1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [3]:
st1.add(11)
st1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
st1.remove(1)

In [5]:
st1

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [6]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 8, 10}

In [7]:
set1.intersection(set2)

{2, 4}

In [8]:
set1.difference(set2)

{1, 3, 5}

In [9]:
set1.symmetric_difference(set2)

{1, 3, 5, 6, 8, 10}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [10]:
{i**2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [12]:
{i for i in st1 if i%2 == 0}

{2, 4, 6, 8, 10}

In [15]:
st2 = {1,2,3,4,5}
st3 = {1,2,3}
st2.issuperset(st3)

True

In [16]:
{'nm':'ram','age': 6, 'nm':6}

{'nm': 6, 'age': 6}

In [18]:
lst = [2,7,8,2,3,3,4,6,10,9,2,9]

print({i:lst.count(i) for i in set(lst)})

{2: 3, 3: 2, 4: 1, 6: 1, 7: 1, 8: 1, 9: 2, 10: 1}

In [19]:
{**{'a':1,'b':2},**{'b':8,'d':2}}

{'a': 1, 'b': 8, 'd': 2}


### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.



### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.