# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [4]:
tup = tuple(list(range(1,11)))

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [5]:
firs,*middle, last = tup
print(firs)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [8]:
print(tup)
print(tup[:3])
print(tup[:-4:-1])
print(tup[2:6])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(10, 9, 8)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [9]:
tup1 = ((2,4,5),(2,6,7),(2,5,6))
tup1[1][2]

7

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [10]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple

In [12]:
tup2 = (1,2,3,3,5,3)

tup2.index(3), tup2.count(3)

(2, 3)

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [13]:
a,b,c = (1,5,6)

print(a)
print(b)
print(c)

1
5
6

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [23]:
lst = ['s','t','r','i','n','g']
''.join(lst)

var = ''
for i in ('s','t','r','i','n','g'):
    var += i

print(var)

string

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [24]:
# def func_n(tup):
min((1,23))

1

In [26]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [30]:
st = {2,3,4,4}
st.remove(3)

st

{2, 4}